@charset "UTF-8";

body{
    background-color: rgb(122, 77, 227);
}

h3#primeiro {
    text-align:center;
}

.class{
    text-align:center;
    background-color: brown;
    color: rgb(222, 13, 13);
}

